body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#loading {
	display: block;
	position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	background: rgba(255, 255, 255, .7) 
                url('../image/loading.gif') 
                50% 50% 
                no-repeat;
}

.header {
    color: #455a64;
    font-weight: 300;
}

nav.top-nav h1.header {
	margin: 0;
	padding-top: 43px;
	font-size: 1.5rem;
	text-align: right
}

a.sidenav-trigger.top-nav {
	color: #455a64;
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

main {
	flex: 1 0 auto;
}

.center-container {
	max-width: 90%;
    margin: auto;
}

#chart-bubble-occupations {
	width: 100%;
	height: 850px;
}

#chart-bubble-activities {
	width: 100%;
	height: 1120px;
}

#chart-map {
	width: 100%;
	height: 560px;
}

#chart-date-based {
	width: 100%;
	height: 500px;
}

#chart-map-legend-container {
	width: 55px;
	padding: 5px;
	left: 10px !important;
	bottom: 30px !important;
	background-color: #fff;
	border: 1px solid #eee;
	text-align: center;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#chart-map-type-container {
	left: 10px !important;
	top: 10px !important;
}

#chart-map-type {
	display: block !important;
}

#chart-map-legend img {
	margin-top: 10px;
	margin-bottom: 10px;
}

#datatable_length {
	display: none;
}

#research-notes {
	font-size: 12px;
}

.logo-laboratorio-futuro {
	max-width: 150px;
}

.logo-labore {
	max-width: 160px;
	margin-left: 10px;
}

.logo-ufrj {
	max-width: 120px;
	margin-left: 10px;
}

.logo-coppe {
	max-width: 140px;
	margin-left: 10px;
}

@media screen and (max-width:992px) and (min-width:600px) {

	#datatable>thead>tr>th {
		width: 100% !important;
		height: 40px !important;
		padding: 0px !important;
		border-bottom: 1px solid #ccc;
	}

	#datatable>tbody>tr>td {
		width: 100% !important;
		height: 40px !important;
		padding: 0px !important;
	}

	#datatable>thead>tr {
		padding: 0px !important;
	}

	#datatable>thead {
		width: 25% !important;
	}

	#datatable>tbody {
		width: 74% !important;
	}

}

@media screen and (max-width:599px) {

	nav .brand-logo {
	    font-size: 1.3rem;
	}

	#datatable>thead>tr>th {
		width: 100% !important;
		height: 40px !important;
		padding: 0px !important;
		border-bottom: 1px solid #ccc;
	}

	#datatable>tbody>tr>td {
		width: 100% !important;
		height: 40px !important;
		padding: 0px !important;
	}

	#datatable>thead>tr {
		padding: 0px !important;
	}

	#datatable>thead {
		width: 30% !important;
		font-size: 12px;
	}

	#datatable>tbody {
		width: 69% !important;
	}

}